<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Page</title>
    <link rel="stylesheet" href="css/chatpage.css">
</head>
    <body>
        <div id="modal">
            <form id="create-room-form" action="">
                <label for="Room-name">Room name</label>
                <input id="room-name-input" type="text" required>
                <button name="submit-room-name">Create</button>
            </form>
        </div>

        <div id="heading-container">
            <div>
                <a href="login-page">Login</a>
                <a href="logout-page">LogOut</a>
                <h1>Chat</h1>
            </div>
        </div>
        <div id="chat-list-contianer">
            <ul id="chat-list"></ul>
        </div>
        <div id="form-container">
            <form id="chat-form" action="">
                <input type="text" id="input" name="message" placeholder="Type your message here" autocomplete="off" required>
                <button name="send-msg">Send</button>
            </form>
            <ul id="messages"></ul>
            <p id="activity"></p>

            <p id="username" hidden><%= userName %></p><!-- Here to pass express session username to html/js -->
        </div>



        <script src="/socket.io/socket.io.js"></script>
        <script>
        const socket = io();

        //server mongoose
        const mongoose = require('mongoose');
        // Connect to MongoDB
        mongoose.connect(process.env.MONGODB_CONNECTION_STRING, {}, console.log("connected to database"));
        //Catches mongodb connection error
        const db = mongoose.connection;
        db.on("error", console.error.bind(console, "mongo connection error"));
        //Import chatroom schema
        const ChatModel = require("./js/components/chatRoomSchemaModel");

        const chatForm = document.getElementById('chat-form');//form to submit messages
        const input = document.getElementById('input');//inout for messages
        const messages = document.getElementById('messages'); //message ul list
        const chatList = document.getElementById('chat-list'); // room list
        const activity = document.getElementById('activity'); //Shows activity of user if typing
        const username = document.getElementById('username');// username
        const chatRoom = document.getElementById('room-name-input');//Input of naming room
        const createRoom = document.getElementById('create-room-form');

        //Welcome message on connection
        socket.on('message', (msg)=>{
            const item = document.createElement('li');
            item.textContent = msg;
            messages.appendChild(item);
        })

        //disconnect
        socket.emit('disconnect', {room: chatRoom.value, username: username.textContent});

        //Creates a room
        createRoom.addEventListener('submit', (e) => {
            joinRoom(e, chatRoom.value);

            //Adds a list of rooms joined so you can rejoin them
            const roomJoinedItem = document.createElement('button');
            roomJoinedItem.textContent = chatRoom.value;

            chatList.appendChild(roomJoinedItem);
                roomJoinedItem.addEventListener('click', (e)=>{
                    joinRoom(e, roomJoinedItem.textContent);
                })
        })

        //Seperate function to create/join room
        function joinRoom(e, chatRoomValue){
            e.preventDefault();
            if(username.textContent && chatRoom.value){
                socket.emit('enterRoom',{
                    username: username.textContent,
                    room: chatRoomValue
                })   
                // chatRoom.value = '';
            }
        }

        //Sends chat messsage to server
        chatForm.addEventListener('submit', (e) => {//Emits typed text in input
            e.preventDefault();
            if (input.value) {
                socket.emit('chat message', {
                    msg:input.value, 
                    room: chatRoom.value,
                    username: username.textContent
                });
                input.value = '';
            }
        });

        //connects typed text to server and displays it
        socket.on('chat message', async ({msg, username}) => {
            const chatRoom = await ChatRoomModal.findOne({ room: chatRoom.value });

            chatRoom.messages.forEach((chatData => {//data.forEach
                activity.textContent = "";//Wipes activity text content
                const itemDiv = document.createElement('div');//container div for messages/username/

                const item = document.createElement('li');//messages
                item.textContent = chatData.message;
                console.log(chatData.message);

                const itemSender = document.createElement('li');//username
                itemSender.textContent = chatData.sender;
                console.log(chatData.sender);

                itemDiv.appendChild(itemSender);
                itemDiv.appendChild(item);
                messages.appendChild(itemDiv);
                
            });
            window.scrollTo(0, document.body.scrollHeight);
        });


        //Handles displaying if other user is typing
        input.addEventListener('keypress', () => {//Displays if other user is typing on key press
            socket.emit('activity', {name: username.textContent, room: chatRoom.value})//socket.id.substring(0,5)
        })

        let activityTimer
        socket.on('activity', () => {//Displays if other user is typing
                activity.textContent = username.textContent + ` is typing...`;

                // Clears activity after 3 seconds
                clearTimeout(activityTimer)
                    activityTimer = setTimeout(() =>{
                        activity.textContent = '';
                    }, 3000);
        });
        </script>
    </body>
</html>