<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Page</title>
    <link rel="stylesheet" href="css/chatpage.css">
</head>
    <body>
        <div id="heading-container">
            <div>
                <a href="login-page">Login</a>
                <a href="logout-page">LogOut</a>
                <h1>Chat</h1>
            </div>
        </div>
        <div id="chat-list-contianer">
            <ul id="chat-list"></ul>
        </div>
        <div id="form-container">
            <form id="form" action="">
                <input type="text" id="input" name="message" placeholder="Type your message here" autocomplete="off" required>
                <button name="send-msg">Send</button>
            </form>
            <ul id="messages"></ul>
            <p id="activity"></p>

            <p id="username"><%= userName %></p>
        </div>



        <script src="/socket.io/socket.io.js"></script>
        <script>
        const socket = io();

        const form = document.getElementById('form');
        const input = document.getElementById('input');
        const messages = document.getElementById('messages');
        const activity = document.getElementById('activity');
        const username = document.getElementById('username');
        const chatList = document.getElementById('chat-list');

        function enterRoom(e){
            e.preventDefault();
            if(username.textContent && )
        }

        form.addEventListener('submit', (e) => {//Emits typed text in input
            e.preventDefault();
            if (input.value) {
                socket.emit('chat message', input.value);
                input.value = '';
            }
        });

        socket.on('chat message', (msg) => {//connects typed text to server and displays it
            activity.textContent = "";//Wipes activity text content
            const item = document.createElement('li');
            item.textContent = msg;
            console.log(msg);
            messages.appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
        });

    //Handles displaying if other user is typing
        input.addEventListener('keypress', () => {//Displays if other user is typing on key press
            socket.emit('activity', socket.id.substring(0,5))
        })

        let activityTimer
        socket.on('activity', () => {//Displays if other user is typing
                activity.textContent = username.textContent + ` is typing...`;

                // Clears activity after 3 seconds
                clearTimeout(activityTimer)
                    activityTimer = setTimeout(() =>{
                        activity.textContent = '';
                    }, 3000);
        });
        </script>



    </body>
</html>