<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Members Only-Sign up</title>
    <link rel="stylesheet" href="css/signuppage.css">
</head>
    <body>
        <form action="/sign-up" method="POST">
            <h1>Sign-Up</h1>
            <label>Email</label><br>
                <input type="email" name="email" id="email-input-signup" required><br>
            <label>Password</label><br>
                <input type="password" name="password" id="password-input-signup" minlength="7" required><br>
            <label>Confirm Password</label><br>
                <input type="password" name="confirmPassword" id="confirm-password-input-signup" minlength="7" required><br>
            <button name="submit">Submit</button>
            <button><a href="logIn">Login</a></button>
            <% if (passwordErrorMsg) { %>
                <p id="signup-error-password-p1"><%= passwordErrorMsg %></p>
            <% } %>
            <% if (emailExistError) { %>
            <p id="signup-error-p1"><%= errorMsg %></p>
            <% } %>
        </form>

        <script src="index.js"></script>
    </body>
</html>